{% extends 'base.html' %}
{% block main %}
<div class="conteiner">
    <div class="row">
        <div class="col-4 "></div>
        <div class="col-4 ">
            <h1>{{ page_title }}</h1>
            <form action="{{ url_for('process_сarinput') }}" method="post" enctype="multipart/form-data">
                {{ form.hidden_tag() }}
                <p><input type="file" name="file"></p><br>
                <div class="form-group">
                    {{ form.title.label }}<br>
                    {{ form.title()}}
                    <hr>
                </div>
                <div class="form-group">
                    {{ form.manufacturer.label }}<br>
                    {{ form.manufacturer}}
                    <hr>
                </div>
                <div class="form-group">
                    {{ form.model.label }}<br>
                    {{ form.model()}}
                    <hr>
                </div>
                <div class="form-group">
                    {{ form.production_year.label }}<br>
                    {{ form.production_year()}}
                    <hr>
                </div>
                <div class="form-group">
                    {{ form.engine_type.label }}<br>
                    {{ form.engine_type()}}
                    <hr>
                </div>
                <div class="form-group">
                    {{ form.volume.label }}<br>
                    {{ form.volume()}}
                    <hr>
                </div>
                <div class="form-group">
                    {{ form.transmission_type.label }}<br>
                    {{ form.transmission_type()}}
                    <hr>
                </div>
                <div class="form-group">
                    {{ form.body.label }}<br>
                    {{ form.body()}}
                    <hr>

                </div>
                {{ form.submit() }}
            </form>
        </div>
        <div class="col-4"></div>
    </div>
</div>

{% endblock %}