{% extends 'base.html'%}
{% block main %}
{% include 'flash.html' %}

<br>
<br>
<br>


<h5 class="mb-1">Событие: {{event.title}}</h5>

<small class="text-muted">Последняя запись: {{moment(event.published).format('LL')}}
</small>
</div>
<p class="mb-1">Стоимость: {{event.charges}} р</p>
<p>{{event.milege}}</p>
<p>{{event.description}}</p>

</a>

<div class="d-grid gap-2 d-md-flex justify-content-md-end">
    <a href="{{ url_for('change_event_data', event_id=event.id) }}" class="btn btn-primary">Внести
        изменения</a>
</div>

{%endblock%}