{% extends 'base.html' %}
{% block main %}
{% include 'flash.html' %}


<body>

    <br><br><br>
    {%include 'event_creating.html'%}

    {% for vehicle in vehicles %}
    <br>
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-8">
                <div class="list-group">
                    <a href="{{url_for('current_car', car_id=vehicle.id)}}"
                        class="list-group-item list-group-item-action active" aria-current="true">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">Автомобиль: {{vehicle.title}}</h5>
                        </div>

                        {%for event in vehicle.events%}

                        <a href="{{url_for('current_event', event_id=event.id)}}"
                            class="list-group-item list-group-item-action">
                            <div class="d-flex w-100 justify-content-between">
                                <h5 class="mb-1">Событие: {{event.title}}</h5>

                                <small class="text-muted">Последняя запись: {{moment(event.published).format('LL')}}
                                </small>
                            </div>
                            <p class="mb-1">Стоимость: {{event.charges}} р</p>

                        </a>
                        {% endfor %}
                    </a>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</body>

{% endblock %}