{% extends 'base.html' %}
{% block main %}
<div class="conteiner">
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4">
            <h1>{{ title }}</h1>
            <form action="{{ url_for('process_get_manufacturer') }}" method="post">
                {{ form.hidden_tag() }}
                <div class="form-group">
                    {{ form.manufacturer.label }}<br>
                    {{ form.manufacturer()}}
                    <br>
                </div>
                {{ form.submit() }}
            </form>
        </div>

    </div>
</div>
{% endblock %}