<div class="wrap-input100 validate-input">
    <input class="input100" type="text" name="{{form.username.name}}">
    <span class="focus-input100" data-placeholder="{{form.username.label.text}}">
    </span>

</div>

<div class="wrap-input100 validate-input" data-validate="Enter password">
    <span class="btn-show-pass">
        <i class="zmdi zmdi-eye"></i>
    </span>
    <input class="input100" type="password" name="{{form.password.name}}">
    <span class="focus-input100" data-placeholder="{{ form.password.label.text }}"></span>

</div>