{% extends 'base.html' %}
{% block main %}

<center><h2 class="mb-1">{{title}}</h5><br></center>
<center>
<div class=container>
    <div class=row>
        <div class="col-3"></div>
            <div class="col-6 align-self-center">
                <div class="form-group center">
                    Cредняя стоимость аналогичного автомобиля: <br>
                    {{mid_price}} &#8381
                    <hr>
                </div>
                <div class="form-group">
                    Максимальная стоимость аналогичного автомобиля: <br>
                    {{max_price}} &#8381
                    <hr>
                </div>
                <div class="form-group">
                    Минимальная стоимость аналогичного автомобиля: <br>
                    {{min_price}} &#8381
                    <hr>
                </div>
    <div class="col-3"></div>
</div>
</center>
{% endblock %}
