{% extends 'baselogin.html' %}
{% block main %}
{% include 'flash.html' %}

<body>
    {% include 'flash.html' %}
    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100">
                <form action="" method="post">
                    {{ form.hidden_tag() }}
                    <span class="login100-form-title p-b-26">
                        Flexcar
                    </span>
                    <span class="login100-form-title p-b-48">
                        <i class="zmdi zmdi-font"></i>
                    </span>

                    {% with field=form.username %}
                    {% include "loginfield.html" %}
                    {% endwith %}

                    {% with field=form.email %}
                    {% include "loginfield.html" %}
                    {% endwith %}

                    {% with field=form.password %}
                    {% include "passfield.html" %}
                    {% endwith %}

                    {% with field=form.password2 %}
                    {% include "passfield.html" %}
                    {% endwith %}

                    <div class="container-login100-form-btn">
                        <div class="wrap-login100-form-btn">
                            <div class="login100-form-bgbtn"></div>
                            <button class="login100-form-btn">
                                Продолжить
                            </button>
                        </div>
                    </div>

                    <div class="text-center p-t-55">
                        <span class="txt1">
                            Уже зарегистрированы?
                        </span>

                        <a class="txt2" href="{{ url_for('login') }}">
                            Войти
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>

    {% endblock %}