{% extends 'base.html' %}
{% block main %}
<div class="container">
{% for car in carlist %}
    <div class="row">
        <div class="col-4 align-self-center">
            <img src="{{ url_for('upload', filename=car.vehicle_avatar) }}" width="1000"  class="card-img-top" alt="Avatar">               
        </div>
        <div class="col-4 align-self-center">
            <h3>{{ car.title }}</h3><br>
            <h3>Производитель: {{car.manufacturer}}</h3>
            <h3>Модель: {{car.model}}</h3>
            <h3>Год выпуска: {{car.production_year}}</h3>
            <h3> {{car.id}}</h3>
        </div>
        <div class="col-4 align-self-center">
            <a href="{{ url_for('current_car', car_id=car.id) }}" class="btn btn-primary" role="button">Выбрать</a>
        </div>
    </div>
    <hr />
{% endfor %}
</div>
{% endblock %}