{% extends 'base.html' %}
{% block main %}

<link rel="stylesheet" type="text/css" href="{{url_for('static', filename ='css/owndesign.css')}}">

<div class='mainLayout'>
    <div class='title'><br>Гараж</div>
    {% for car in carlist %}

    <div class='itemRoot'>
        <div class='imageBlock'>
            {%if car.vehicle_avatar is none%}
            <img src="{{url_for('static', filename='default.png')}}" class='image' />
            {%else%}
            <img src="{{ url_for('upload', filename=car.vehicle_avatar) }}" class='image' />
            {%endif%}
        </div>
        <div class='vehicleInfoBlock'>
            <div class='type'>

            </div>
            <table class='info-table'>

                <tr>
                    <td class='td right'>Производитель</td>


                    <td class='td left' display="flex" flex-direction="row">
                        {{car.manufacturer}}
                    </td>
                </tr>
                <tr>
                    <td class='td right'>Модель</td>
                    <td class='td left'>

                        {{car.model}}

                    </td>
                </tr>
                <tr>
                    <td class='td right'>Год выпуска</td>
                    <td class='td left'>
                        {{car.production_year}}
                    </td>
                </tr>

            </table>
            <a href="{{ url_for('current_car', car_id=car.id) }}" class="navigation-link">
                <button class='button'>Выбрать</button>
            </a>
        </div>
    </div>
    {% endfor %}

    {% endblock %}
</div>